<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Inicio de sesion">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Signin User</title>
</head>
<body>
	<form action="{% url 'signin' %}" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="Ingrese el username" name="username">
		<input type="password" placeholder="Ingrese su password" name="password">
		<button type="submit">Signin</button>
		<a href='{% url "social:begin" "google-oauth2" %}'>Signin with Google</a>
	</form>

</body>
</html>

