<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Crear cuenta en NoteXF">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Signup User</title>
</head>
<body>
	<form action="{% url 'signup' %}" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="Ingrese el username" name="username">
		<input type="password" placeholder="Ingrese su password" name="password1">
		<input type="password" placeholder="Confirme su password" name="password2">

		<button type="submit">Signin</button>
	</form>

</body>
</html>