<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Crear tarea">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% block title %} Task Create {% endblock %}</title>
</head>
<body>
	{% include 'home.html' %}
	<form action="{% url 'createtask' %}" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="nombre de la tarea" name="title">
		<input type="textearea" placeholder="descripcion de la tarea" name="description">
		<input type="checkbox" name="important">
		<button type="submit">Crear tarea</button>
	</form>

</body>
</html>