{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Listado de tarea">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
    <title>Task List</title>
</head>

<body>
    {% include 'home.html' %}
    <div class="ag-format-container">
        <div class="ag-courses_box">
            
            <div class="ag-courses_item">
                {% for x in tasks %}
                <a href="{% url 'taskdetail' pk=x.id %}" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <div class="ag-courses-item_title">
                        {{x.title}}
                    </div>
                    <div class="ag-courses-item_date-box">
                        Creado:
                        <span class="ag-courses-item_date">
                            {{x.created}}
                        </span>
                    </div>
                </a>
                {% endfor %}
            </div>
            
        </div>
    </div>
</body>

</html>
