{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Listado de tarea">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
    <title>Task List</title>
</head>

<body>
    {% include 'home.html' %}
    <div>
        {% for x in tasks %}
            <h2>{{x.title}}</h2>
            <p>{{x.description}}</p>
        {% endfor %}
    </div>
</body>

</html>
<!-- 
   <div class="task-card">
           <a href="{% url 'taskdetail' x.id %}">{{x.title}}</a>
           <p>{{x.description}}</p>
   
           <a href="{% url 'deletetask' x.id %}">
               <button>Eliminar</button>
           </a>
       </div>
   -->