<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Editar tarea">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Task Detail</title>
</head>
<body>
	<form action="{% url 'taskdetail' form.pk %}" method="POST">
		{% csrf_token %}
		<input type="text" value="{{form.title}}" name="title">
		<textarea name="description" id="">{{form.description}}</textarea>
		<input type="checkbox" name="important" {% if form.important %}checked{% endif %}>
		<button type="submit">Guardar tarea</button>
	</form>
</body>
</html>