{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Crear tarea">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/taskcreate.css' %}">
    <meta name="google-site-verification" content="aCL4lOmiXhuElHt8BHIDHgAm4C81SrBmeSJ50p0Ulk0" />
	<title>{% block title %} Task Create {% endblock %}</title>
</head>
<body>
    {% include 'home.html' %}
    <div class="card">
        <form action="{% url 'task_operation' 'create' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Nombre de la tarea" name="title">
            <textarea placeholder="Descripción de la tarea" name="description"></textarea>
            <label class="label__input"><input type="checkbox" name="important">Importante</label>
            <button type="submit">Crear tarea</button>
        </form>
    </div>
</body>
